
.vBox-background {
    -fx-background-color: #666666;
    
}

.combo-box, .list-cell, .combo-box .button {
    -fx-alignment: center;	
	-fx-font-size: 16px;
	-fx-padding: 0 0 0 20px;
}


.close-button {
    -fx-background-image: url("../images/close.png");
    -fx-background-color: #666666;   
    -fx-background-repeat: no-repeat;
    -fx-background-size: 75%;
    -fx-background-position: center center;
    -fx-cursor: hand;
}

.close-button:hover {
    -fx-background-color: rgba(255, 255, 247, .3);
}

.text-field {
    -fx-font-size: 20;
}

.buttons {
   -fx-cursor: hand;
    -fx-font-size: 20;
}

